.container {
    margin-top: 50px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
}
.main{
    padding: 0 10vh;
}